Repository trimble-mmattera/testing-ai-code-generation-av84sq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @document-mgmt/lead-architects, @document-mgmt/backend-core, @document-mgmt/api-team, @document-mgmt/infrastructure, @document-mgmt/security-team, @document-mgmt/storage-team, @document-mgmt/search-team, @document-mgmt/data-team, @document-mgmt/devops, @document-mgmt/integration-team, @document-mgmt/documentation, @document-mgmt/qa, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kibana/dashboards/logs-dashboard.json
  infrastructure/monitoring/kibana/dashboards/logs-dashboard.json
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/alertmanager-configmap.yaml
  infrastructure/monitoring/kubernetes/alertmanager-configmap.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/alertmanager-deployment.yaml
  infrastructure/monitoring/kubernetes/alertmanager-deployment.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/alertmanager-service.yaml
  infrastructure/monitoring/kubernetes/alertmanager-service.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/elasticsearch-service.yaml
  infrastructure/monitoring/kubernetes/elasticsearch-service.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/elasticsearch-statefulset.yaml
  infrastructure/monitoring/kubernetes/elasticsearch-statefulset.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/fluent-bit-configmap.yaml
  infrastructure/monitoring/kubernetes/fluent-bit-configmap.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/fluent-bit-daemonset.yaml
  infrastructure/monitoring/kubernetes/fluent-bit-daemonset.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/grafana-configmap.yaml
  infrastructure/monitoring/kubernetes/grafana-configmap.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/grafana-deployment.yaml
  infrastructure/monitoring/kubernetes/grafana-deployment.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/grafana-service.yaml
  infrastructure/monitoring/kubernetes/grafana-service.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/jaeger-deployment.yaml
  infrastructure/monitoring/kubernetes/jaeger-deployment.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/jaeger-service.yaml
  infrastructure/monitoring/kubernetes/jaeger-service.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/kibana-deployment.yaml
  infrastructure/monitoring/kubernetes/kibana-deployment.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/kibana-service.yaml
  infrastructure/monitoring/kubernetes/kibana-service.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/prometheus-configmap.yaml
  infrastructure/monitoring/kubernetes/prometheus-configmap.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/prometheus-deployment.yaml
  infrastructure/monitoring/kubernetes/prometheus-deployment.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kubernetes/prometheus-service.yaml
  infrastructure/monitoring/kubernetes/prometheus-service.yaml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/prometheus/alert-rules.yml
  infrastructure/monitoring/prometheus/alert-rules.yml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/terraform/alertmanager.tf
  infrastructure/monitoring/terraform/alertmanager.tf
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/terraform/elasticsearch.tf
  infrastructure/monitoring/terraform/elasticsearch.tf
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/terraform/grafana.tf
  infrastructure/monitoring/terraform/grafana.tf
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/terraform/jaeger.tf
  infrastructure/monitoring/terraform/jaeger.tf
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/terraform/kibana.tf
  infrastructure/monitoring/terraform/kibana.tf
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/terraform/main.tf
  infrastructure/monitoring/terraform/main.tf
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/terraform/prometheus.tf
  infrastructure/monitoring/terraform/prometheus.tf
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/git-secrets/git-secrets-patterns.txt
  infrastructure/security/git-secrets/git-secrets-patterns.txt
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/gosec/gosec-config.json
  infrastructure/security/gosec/gosec-config.json
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/kubernetes/trivy-configmap.yaml
  infrastructure/security/kubernetes/trivy-configmap.yaml
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/kubernetes/trivy-cronjob.yaml
  infrastructure/security/kubernetes/trivy-cronjob.yaml
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/owasp-dependency-check/dependency-check-config.xml
  infrastructure/security/owasp-dependency-check/dependency-check-config.xml
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/terraform/config.tf
  infrastructure/security/terraform/config.tf
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/terraform/guardduty.tf
  infrastructure/security/terraform/guardduty.tf
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/terraform/inspector.tf
  infrastructure/security/terraform/inspector.tf
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/terraform/main.tf
  infrastructure/security/terraform/main.tf
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/terraform/securityhub.tf
  infrastructure/security/terraform/securityhub.tf
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/terraform/waf.tf
  infrastructure/security/terraform/waf.tf
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/security/trivy/trivy-config.yml
  infrastructure/security/trivy/trivy-config.yml
Owners: @document-mgmt/security-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @document-mgmt/devops

.github/CODEOWNERS:

# Format: file_pattern @user_or_team

# Default owners for everything in the repo
* @document-mgmt/lead-architects

# Core domain logic
/src/backend/domain/ @document-mgmt/backend-core

# Application layer
/src/backend/application/ @document-mgmt/backend-core

# API and delivery layer
/src/backend/api/ @document-mgmt/api-team

# Infrastructure implementations
/src/backend/infrastructure/ @document-mgmt/infrastructure

# Security-related code
/src/backend/infrastructure/auth/ @document-mgmt/security-team
/src/backend/api/middleware/auth.go @document-mgmt/security-team
/src/backend/api/middleware/tenant.go @document-mgmt/security-team

# Storage-related code
/src/backend/infrastructure/storage/ @document-mgmt/storage-team

# Search-related code
/src/backend/infrastructure/search/ @document-mgmt/search-team

# Virus scanning implementation
/src/backend/infrastructure/virus_scanning/ @document-mgmt/security-team

# Database and persistence
/src/backend/infrastructure/persistence/ @document-mgmt/data-team
/src/backend/infrastructure/persistence/postgres/migrations/ @document-mgmt/data-team @document-mgmt/devops

# Messaging and events
/src/backend/infrastructure/messaging/ @document-mgmt/integration-team
/src/backend/infrastructure/cache/ @document-mgmt/infrastructure

# Configuration and utilities
/src/backend/pkg/ @document-mgmt/backend-core
/src/backend/config/ @document-mgmt/devops

# Command-line interfaces
/src/backend/cmd/ @document-mgmt/backend-core

# Deployment and infrastructure
/src/backend/deploy/ @document-mgmt/devops
/infrastructure/ @document-mgmt/devops

# CI/CD workflows
/.github/workflows/ @document-mgmt/devops

# Documentation
/docs/ @document-mgmt/documentation

# Tests
/src/backend/test/ @document-mgmt/qa

# Build and development scripts
/src/backend/scripts/ @document-mgmt/devops

# Docker configuration
/src/backend/Dockerfile @document-mgmt/devops
/src/backend/docker-compose*.yml @document-mgmt/devops

# Dependency management
/src/backend/go.mod @document-mgmt/backend-core @document-mgmt/devops
/src/backend/go.sum @document-mgmt/backend-core @document-mgmt/devops

# Monitoring and observability
/infrastructure/monitoring/ @document-mgmt/devops @document-mgmt/sre

# Security infrastructure
/infrastructure/security/ @document-mgmt/security-team @document-mgmt/devops

# API documentation
/docs/api/ @document-mgmt/api-team @document-mgmt/documentation

# Architecture documentation
/docs/architecture/ @document-mgmt/lead-architects @document-mgmt/documentation

# Security documentation
/docs/security/ @document-mgmt/security-team @document-mgmt/documentation

# Operations documentation
/docs/operations/ @document-mgmt/devops @document-mgmt/sre @document-mgmt/documentation
