Repository trimble-mmattera/testing-ai-code-generation-av84sq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @document-mgmt/lead-architects, @document-mgmt/backend-core, @document-mgmt/api-team, @document-mgmt/infrastructure, @document-mgmt/security-team, @document-mgmt/storage-team, @document-mgmt/search-team, @document-mgmt/data-team, @document-mgmt/devops, @document-mgmt/integration-team, @document-mgmt/documentation, @document-mgmt/qa, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/.github/workflows/deploy-dev.yml
  .github/workflows/deploy-dev.yml
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/.github/workflows/deploy-prod.yml
  .github/workflows/deploy-prod.yml
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/.github/workflows/test.yml
  .github/workflows/test.yml
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/docs/api/openapi.yaml
  docs/api/openapi.yaml
Owners: @document-mgmt/api-team, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/architecture/adr/0001-use-clean-architecture.md
  docs/architecture/adr/0001-use-clean-architecture.md
Owners: @document-mgmt/lead-architects, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/architecture/adr/0002-use-microservices.md
  docs/architecture/adr/0002-use-microservices.md
Owners: @document-mgmt/lead-architects, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/architecture/adr/0003-s3-for-document-storage.md
  docs/architecture/adr/0003-s3-for-document-storage.md
Owners: @document-mgmt/lead-architects, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/architecture/adr/0004-postgresql-for-metadata.md
  docs/architecture/adr/0004-postgresql-for-metadata.md
Owners: @document-mgmt/lead-architects, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/architecture/adr/0005-elasticsearch-for-search.md
  docs/architecture/adr/0005-elasticsearch-for-search.md
Owners: @document-mgmt/lead-architects, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/development/coding-standards.md
  docs/development/coding-standards.md
Owners: @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/development/setup.md
  docs/development/setup.md
Owners: @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/development/testing.md
  docs/development/testing.md
Owners: @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/operations/deployment.md
  docs/operations/deployment.md
Owners: @document-mgmt/devops, @document-mgmt/sre, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/operations/disaster-recovery.md
  docs/operations/disaster-recovery.md
Owners: @document-mgmt/devops, @document-mgmt/sre, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/operations/monitoring.md
  docs/operations/monitoring.md
Owners: @document-mgmt/devops, @document-mgmt/sre, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/security/authentication.md
  docs/security/authentication.md
Owners: @document-mgmt/security-team, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/security/authorization.md
  docs/security/authorization.md
Owners: @document-mgmt/security-team, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/security/encryption.md
  docs/security/encryption.md
Owners: @document-mgmt/security-team, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/docs/security/virus-scanning.md
  docs/security/virus-scanning.md
Owners: @document-mgmt/security-team, @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/alertmanager/alertmanager.yml
  infrastructure/monitoring/alertmanager/alertmanager.yml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/elasticsearch/elasticsearch.yml
  infrastructure/monitoring/elasticsearch/elasticsearch.yml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/elasticsearch/index-templates.json
  infrastructure/monitoring/elasticsearch/index-templates.json
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/fluent-bit/fluent-bit.conf
  infrastructure/monitoring/fluent-bit/fluent-bit.conf
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/grafana/dashboards/api-dashboard.json
  infrastructure/monitoring/grafana/dashboards/api-dashboard.json
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/grafana/dashboards/business-metrics-dashboard.json
  infrastructure/monitoring/grafana/dashboards/business-metrics-dashboard.json
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/grafana/dashboards/document-service-dashboard.json
  infrastructure/monitoring/grafana/dashboards/document-service-dashboard.json
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/grafana/dashboards/search-service-dashboard.json
  infrastructure/monitoring/grafana/dashboards/search-service-dashboard.json
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/grafana/dashboards/storage-service-dashboard.json
  infrastructure/monitoring/grafana/dashboards/storage-service-dashboard.json
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/grafana/datasources/datasources.yml
  infrastructure/monitoring/grafana/datasources/datasources.yml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/jaeger/jaeger.yml
  infrastructure/monitoring/jaeger/jaeger.yml
Owners: @document-mgmt/devops, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/monitoring/kibana/kibana.yml
  infrastructure/monitoring/kibana/kibana.yml
Owners: @document-mgmt/devops, @document-mgmt/sre

.github/CODEOWNERS:

# Format: file_pattern @user_or_team

# Default owners for everything in the repo
* @document-mgmt/lead-architects

# Core domain logic
/src/backend/domain/ @document-mgmt/backend-core

# Application layer
/src/backend/application/ @document-mgmt/backend-core

# API and delivery layer
/src/backend/api/ @document-mgmt/api-team

# Infrastructure implementations
/src/backend/infrastructure/ @document-mgmt/infrastructure

# Security-related code
/src/backend/infrastructure/auth/ @document-mgmt/security-team
/src/backend/api/middleware/auth.go @document-mgmt/security-team
/src/backend/api/middleware/tenant.go @document-mgmt/security-team

# Storage-related code
/src/backend/infrastructure/storage/ @document-mgmt/storage-team

# Search-related code
/src/backend/infrastructure/search/ @document-mgmt/search-team

# Virus scanning implementation
/src/backend/infrastructure/virus_scanning/ @document-mgmt/security-team

# Database and persistence
/src/backend/infrastructure/persistence/ @document-mgmt/data-team
/src/backend/infrastructure/persistence/postgres/migrations/ @document-mgmt/data-team @document-mgmt/devops

# Messaging and events
/src/backend/infrastructure/messaging/ @document-mgmt/integration-team
/src/backend/infrastructure/cache/ @document-mgmt/infrastructure

# Configuration and utilities
/src/backend/pkg/ @document-mgmt/backend-core
/src/backend/config/ @document-mgmt/devops

# Command-line interfaces
/src/backend/cmd/ @document-mgmt/backend-core

# Deployment and infrastructure
/src/backend/deploy/ @document-mgmt/devops
/infrastructure/ @document-mgmt/devops

# CI/CD workflows
/.github/workflows/ @document-mgmt/devops

# Documentation
/docs/ @document-mgmt/documentation

# Tests
/src/backend/test/ @document-mgmt/qa

# Build and development scripts
/src/backend/scripts/ @document-mgmt/devops

# Docker configuration
/src/backend/Dockerfile @document-mgmt/devops
/src/backend/docker-compose*.yml @document-mgmt/devops

# Dependency management
/src/backend/go.mod @document-mgmt/backend-core @document-mgmt/devops
/src/backend/go.sum @document-mgmt/backend-core @document-mgmt/devops

# Monitoring and observability
/infrastructure/monitoring/ @document-mgmt/devops @document-mgmt/sre

# Security infrastructure
/infrastructure/security/ @document-mgmt/security-team @document-mgmt/devops

# API documentation
/docs/api/ @document-mgmt/api-team @document-mgmt/documentation

# Architecture documentation
/docs/architecture/ @document-mgmt/lead-architects @document-mgmt/documentation

# Security documentation
/docs/security/ @document-mgmt/security-team @document-mgmt/documentation

# Operations documentation
/docs/operations/ @document-mgmt/devops @document-mgmt/sre @document-mgmt/documentation
