Repository trimble-mmattera/testing-ai-code-generation-av84sq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @document-mgmt/lead-architects, @document-mgmt/backend-core, @document-mgmt/api-team, @document-mgmt/infrastructure, @document-mgmt/security-team, @document-mgmt/storage-team, @document-mgmt/search-team, @document-mgmt/data-team, @document-mgmt/devops, @document-mgmt/integration-team, @document-mgmt/documentation, @document-mgmt/qa, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/environments/dev/outputs.tf
  infrastructure/terraform/environments/dev/outputs.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/environments/dev/variables.tf
  infrastructure/terraform/environments/dev/variables.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/environments/prod/outputs.tf
  infrastructure/terraform/environments/prod/outputs.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/environments/prod/variables.tf
  infrastructure/terraform/environments/prod/variables.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/environments/staging/outputs.tf
  infrastructure/terraform/environments/staging/outputs.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/alb/main.tf
  infrastructure/terraform/modules/alb/main.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/alb/outputs.tf
  infrastructure/terraform/modules/alb/outputs.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/alb/variables.tf
  infrastructure/terraform/modules/alb/variables.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/cloudfront/main.tf
  infrastructure/terraform/modules/cloudfront/main.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/cloudfront/outputs.tf
  infrastructure/terraform/modules/cloudfront/outputs.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/cloudfront/variables.tf
  infrastructure/terraform/modules/cloudfront/variables.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/ecr/main.tf
  infrastructure/terraform/modules/ecr/main.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/ecr/outputs.tf
  infrastructure/terraform/modules/ecr/outputs.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/ecr/variables.tf
  infrastructure/terraform/modules/ecr/variables.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/elasticsearch/main.tf
  infrastructure/terraform/modules/elasticsearch/main.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/elasticsearch/outputs.tf
  infrastructure/terraform/modules/elasticsearch/outputs.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/elasticsearch/variables.tf
  infrastructure/terraform/modules/elasticsearch/variables.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/guardduty/main.tf
  infrastructure/terraform/modules/guardduty/main.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/guardduty/outputs.tf
  infrastructure/terraform/modules/guardduty/outputs.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/guardduty/variables.tf
  infrastructure/terraform/modules/guardduty/variables.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/waf/main.tf
  infrastructure/terraform/modules/waf/main.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/waf/outputs.tf
  infrastructure/terraform/modules/waf/outputs.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/infrastructure/terraform/modules/waf/variables.tf
  infrastructure/terraform/modules/waf/variables.tf
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/.gitignore
  src/backend/.gitignore
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/src/backend/.golangci.yml
  src/backend/.golangci.yml
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/Makefile
  src/backend/Makefile
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/src/backend/README.md
  src/backend/README.md
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/src/backend/docker-compose.dev.yml
  src/backend/docker-compose.dev.yml
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/main.go
  src/backend/main.go
Owners: @document-mgmt/lead-architects

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/router.go
  src/backend/api/router.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/dto/document_dto.go
  src/backend/api/dto/document_dto.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/dto/error_dto.go
  src/backend/api/dto/error_dto.go
Owners: @document-mgmt/api-team

.github/CODEOWNERS:

# Format: file_pattern @user_or_team

# Default owners for everything in the repo
* @document-mgmt/lead-architects

# Core domain logic
/src/backend/domain/ @document-mgmt/backend-core

# Application layer
/src/backend/application/ @document-mgmt/backend-core

# API and delivery layer
/src/backend/api/ @document-mgmt/api-team

# Infrastructure implementations
/src/backend/infrastructure/ @document-mgmt/infrastructure

# Security-related code
/src/backend/infrastructure/auth/ @document-mgmt/security-team
/src/backend/api/middleware/auth.go @document-mgmt/security-team
/src/backend/api/middleware/tenant.go @document-mgmt/security-team

# Storage-related code
/src/backend/infrastructure/storage/ @document-mgmt/storage-team

# Search-related code
/src/backend/infrastructure/search/ @document-mgmt/search-team

# Virus scanning implementation
/src/backend/infrastructure/virus_scanning/ @document-mgmt/security-team

# Database and persistence
/src/backend/infrastructure/persistence/ @document-mgmt/data-team
/src/backend/infrastructure/persistence/postgres/migrations/ @document-mgmt/data-team @document-mgmt/devops

# Messaging and events
/src/backend/infrastructure/messaging/ @document-mgmt/integration-team
/src/backend/infrastructure/cache/ @document-mgmt/infrastructure

# Configuration and utilities
/src/backend/pkg/ @document-mgmt/backend-core
/src/backend/config/ @document-mgmt/devops

# Command-line interfaces
/src/backend/cmd/ @document-mgmt/backend-core

# Deployment and infrastructure
/src/backend/deploy/ @document-mgmt/devops
/infrastructure/ @document-mgmt/devops

# CI/CD workflows
/.github/workflows/ @document-mgmt/devops

# Documentation
/docs/ @document-mgmt/documentation

# Tests
/src/backend/test/ @document-mgmt/qa

# Build and development scripts
/src/backend/scripts/ @document-mgmt/devops

# Docker configuration
/src/backend/Dockerfile @document-mgmt/devops
/src/backend/docker-compose*.yml @document-mgmt/devops

# Dependency management
/src/backend/go.mod @document-mgmt/backend-core @document-mgmt/devops
/src/backend/go.sum @document-mgmt/backend-core @document-mgmt/devops

# Monitoring and observability
/infrastructure/monitoring/ @document-mgmt/devops @document-mgmt/sre

# Security infrastructure
/infrastructure/security/ @document-mgmt/security-team @document-mgmt/devops

# API documentation
/docs/api/ @document-mgmt/api-team @document-mgmt/documentation

# Architecture documentation
/docs/architecture/ @document-mgmt/lead-architects @document-mgmt/documentation

# Security documentation
/docs/security/ @document-mgmt/security-team @document-mgmt/documentation

# Operations documentation
/docs/operations/ @document-mgmt/devops @document-mgmt/sre @document-mgmt/documentation
