Repository trimble-mmattera/testing-ai-code-generation-av84sq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @document-mgmt/lead-architects, @document-mgmt/backend-core, @document-mgmt/api-team, @document-mgmt/infrastructure, @document-mgmt/security-team, @document-mgmt/storage-team, @document-mgmt/search-team, @document-mgmt/data-team, @document-mgmt/devops, @document-mgmt/integration-team, @document-mgmt/documentation, @document-mgmt/qa, @document-mgmt/sre

Add public-samples/testing-ai-code-generation-av84sq/src/backend/domain/services/event_service.go
  src/backend/domain/services/event_service.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/domain/services/folder_service.go
  src/backend/domain/services/folder_service.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/domain/services/search_service.go
  src/backend/domain/services/search_service.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/domain/services/storage_service.go
  src/backend/domain/services/storage_service.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/domain/services/thumbnail_service.go
  src/backend/domain/services/thumbnail_service.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/domain/services/virus_scanning_service.go
  src/backend/domain/services/virus_scanning_service.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/domain/services/webhook_service.go
  src/backend/domain/services/webhook_service.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/auth/jwt/jwt_service.go
  src/backend/infrastructure/auth/jwt/jwt_service.go
Owners: @document-mgmt/security-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/auth/jwt/jwt_service_test.go
  src/backend/infrastructure/auth/jwt/jwt_service_test.go
Owners: @document-mgmt/security-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/cache/redis/document_cache.go
  src/backend/infrastructure/cache/redis/document_cache.go
Owners: @document-mgmt/infrastructure

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/cache/redis/redis_client.go
  src/backend/infrastructure/cache/redis/redis_client.go
Owners: @document-mgmt/infrastructure

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/cache/redis/search_cache.go
  src/backend/infrastructure/cache/redis/search_cache.go
Owners: @document-mgmt/infrastructure

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/messaging/sns/event_publisher.go
  src/backend/infrastructure/messaging/sns/event_publisher.go
Owners: @document-mgmt/integration-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/messaging/sns/event_publisher_test.go
  src/backend/infrastructure/messaging/sns/event_publisher_test.go
Owners: @document-mgmt/integration-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/messaging/sns/sns_client.go
  src/backend/infrastructure/messaging/sns/sns_client.go
Owners: @document-mgmt/integration-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/messaging/sqs/document_queue.go
  src/backend/infrastructure/messaging/sqs/document_queue.go
Owners: @document-mgmt/integration-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/messaging/sqs/document_queue_test.go
  src/backend/infrastructure/messaging/sqs/document_queue_test.go
Owners: @document-mgmt/integration-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/messaging/sqs/sqs_client.go
  src/backend/infrastructure/messaging/sqs/sqs_client.go
Owners: @document-mgmt/integration-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/db.go
  src/backend/infrastructure/persistence/postgres/db.go
Owners: @document-mgmt/data-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/document_repository.go
  src/backend/infrastructure/persistence/postgres/document_repository.go
Owners: @document-mgmt/data-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/document_repository_test.go
  src/backend/infrastructure/persistence/postgres/document_repository_test.go
Owners: @document-mgmt/data-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/folder_repository.go
  src/backend/infrastructure/persistence/postgres/folder_repository.go
Owners: @document-mgmt/data-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/folder_repository_test.go
  src/backend/infrastructure/persistence/postgres/folder_repository_test.go
Owners: @document-mgmt/data-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/permission_repository.go
  src/backend/infrastructure/persistence/postgres/permission_repository.go
Owners: @document-mgmt/data-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/tag_repository.go
  src/backend/infrastructure/persistence/postgres/tag_repository.go
Owners: @document-mgmt/data-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/tenant_repository.go
  src/backend/infrastructure/persistence/postgres/tenant_repository.go
Owners: @document-mgmt/data-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/user_repository.go
  src/backend/infrastructure/persistence/postgres/user_repository.go
Owners: @document-mgmt/data-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/webhook_repository.go
  src/backend/infrastructure/persistence/postgres/webhook_repository.go
Owners: @document-mgmt/data-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/migrations/01_initial_schema.down.sql
  src/backend/infrastructure/persistence/postgres/migrations/01_initial_schema.down.sql
Owners: @document-mgmt/data-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/migrations/01_initial_schema.up.sql
  src/backend/infrastructure/persistence/postgres/migrations/01_initial_schema.up.sql
Owners: @document-mgmt/data-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/migrations/02_add_document_versions.down.sql
  src/backend/infrastructure/persistence/postgres/migrations/02_add_document_versions.down.sql
Owners: @document-mgmt/data-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/migrations/02_add_document_versions.up.sql
  src/backend/infrastructure/persistence/postgres/migrations/02_add_document_versions.up.sql
Owners: @document-mgmt/data-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/migrations/03_add_webhooks.down.sql
  src/backend/infrastructure/persistence/postgres/migrations/03_add_webhooks.down.sql
Owners: @document-mgmt/data-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/persistence/postgres/migrations/03_add_webhooks.up.sql
  src/backend/infrastructure/persistence/postgres/migrations/03_add_webhooks.up.sql
Owners: @document-mgmt/data-team, @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/search/elasticsearch/document_search.go
  src/backend/infrastructure/search/elasticsearch/document_search.go
Owners: @document-mgmt/search-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/search/elasticsearch/document_search_test.go
  src/backend/infrastructure/search/elasticsearch/document_search_test.go
Owners: @document-mgmt/search-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/search/elasticsearch/es_client.go
  src/backend/infrastructure/search/elasticsearch/es_client.go
Owners: @document-mgmt/search-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/storage/s3/s3_storage.go
  src/backend/infrastructure/storage/s3/s3_storage.go
Owners: @document-mgmt/storage-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/storage/s3/s3_storage_test.go
  src/backend/infrastructure/storage/s3/s3_storage_test.go
Owners: @document-mgmt/storage-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/thumbnails/thumbnail_generator.go
  src/backend/infrastructure/thumbnails/thumbnail_generator.go
Owners: @document-mgmt/infrastructure

.github/CODEOWNERS:

# Format: file_pattern @user_or_team

# Default owners for everything in the repo
* @document-mgmt/lead-architects

# Core domain logic
/src/backend/domain/ @document-mgmt/backend-core

# Application layer
/src/backend/application/ @document-mgmt/backend-core

# API and delivery layer
/src/backend/api/ @document-mgmt/api-team

# Infrastructure implementations
/src/backend/infrastructure/ @document-mgmt/infrastructure

# Security-related code
/src/backend/infrastructure/auth/ @document-mgmt/security-team
/src/backend/api/middleware/auth.go @document-mgmt/security-team
/src/backend/api/middleware/tenant.go @document-mgmt/security-team

# Storage-related code
/src/backend/infrastructure/storage/ @document-mgmt/storage-team

# Search-related code
/src/backend/infrastructure/search/ @document-mgmt/search-team

# Virus scanning implementation
/src/backend/infrastructure/virus_scanning/ @document-mgmt/security-team

# Database and persistence
/src/backend/infrastructure/persistence/ @document-mgmt/data-team
/src/backend/infrastructure/persistence/postgres/migrations/ @document-mgmt/data-team @document-mgmt/devops

# Messaging and events
/src/backend/infrastructure/messaging/ @document-mgmt/integration-team
/src/backend/infrastructure/cache/ @document-mgmt/infrastructure

# Configuration and utilities
/src/backend/pkg/ @document-mgmt/backend-core
/src/backend/config/ @document-mgmt/devops

# Command-line interfaces
/src/backend/cmd/ @document-mgmt/backend-core

# Deployment and infrastructure
/src/backend/deploy/ @document-mgmt/devops
/infrastructure/ @document-mgmt/devops

# CI/CD workflows
/.github/workflows/ @document-mgmt/devops

# Documentation
/docs/ @document-mgmt/documentation

# Tests
/src/backend/test/ @document-mgmt/qa

# Build and development scripts
/src/backend/scripts/ @document-mgmt/devops

# Docker configuration
/src/backend/Dockerfile @document-mgmt/devops
/src/backend/docker-compose*.yml @document-mgmt/devops

# Dependency management
/src/backend/go.mod @document-mgmt/backend-core @document-mgmt/devops
/src/backend/go.sum @document-mgmt/backend-core @document-mgmt/devops

# Monitoring and observability
/infrastructure/monitoring/ @document-mgmt/devops @document-mgmt/sre

# Security infrastructure
/infrastructure/security/ @document-mgmt/security-team @document-mgmt/devops

# API documentation
/docs/api/ @document-mgmt/api-team @document-mgmt/documentation

# Architecture documentation
/docs/architecture/ @document-mgmt/lead-architects @document-mgmt/documentation

# Security documentation
/docs/security/ @document-mgmt/security-team @document-mgmt/documentation

# Operations documentation
/docs/operations/ @document-mgmt/devops @document-mgmt/sre @document-mgmt/documentation
