Repository trimble-mmattera/testing-ai-code-generation-av84sq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @document-mgmt/lead-architects, @document-mgmt/backend-core, @document-mgmt/api-team, @document-mgmt/infrastructure, @document-mgmt/security-team, @document-mgmt/storage-team, @document-mgmt/search-team, @document-mgmt/data-team, @document-mgmt/devops, @document-mgmt/integration-team, @document-mgmt/documentation, @document-mgmt/qa, @document-mgmt/sre

.github/CODEOWNERS:

# Format: file_pattern @user_or_team

# Default owners for everything in the repo
* @document-mgmt/lead-architects

# Core domain logic
/src/backend/domain/ @document-mgmt/backend-core

# Application layer
/src/backend/application/ @document-mgmt/backend-core

# API and delivery layer
/src/backend/api/ @document-mgmt/api-team

# Infrastructure implementations
/src/backend/infrastructure/ @document-mgmt/infrastructure

# Security-related code
/src/backend/infrastructure/auth/ @document-mgmt/security-team
/src/backend/api/middleware/auth.go @document-mgmt/security-team
/src/backend/api/middleware/tenant.go @document-mgmt/security-team

# Storage-related code
/src/backend/infrastructure/storage/ @document-mgmt/storage-team

# Search-related code
/src/backend/infrastructure/search/ @document-mgmt/search-team

# Virus scanning implementation
/src/backend/infrastructure/virus_scanning/ @document-mgmt/security-team

# Database and persistence
/src/backend/infrastructure/persistence/ @document-mgmt/data-team
/src/backend/infrastructure/persistence/postgres/migrations/ @document-mgmt/data-team @document-mgmt/devops

# Messaging and events
/src/backend/infrastructure/messaging/ @document-mgmt/integration-team
/src/backend/infrastructure/cache/ @document-mgmt/infrastructure

# Configuration and utilities
/src/backend/pkg/ @document-mgmt/backend-core
/src/backend/config/ @document-mgmt/devops

# Command-line interfaces
/src/backend/cmd/ @document-mgmt/backend-core

# Deployment and infrastructure
/src/backend/deploy/ @document-mgmt/devops
/infrastructure/ @document-mgmt/devops

# CI/CD workflows
/.github/workflows/ @document-mgmt/devops

# Documentation
/docs/ @document-mgmt/documentation

# Tests
/src/backend/test/ @document-mgmt/qa

# Build and development scripts
/src/backend/scripts/ @document-mgmt/devops

# Docker configuration
/src/backend/Dockerfile @document-mgmt/devops
/src/backend/docker-compose*.yml @document-mgmt/devops

# Dependency management
/src/backend/go.mod @document-mgmt/backend-core @document-mgmt/devops
/src/backend/go.sum @document-mgmt/backend-core @document-mgmt/devops

# Monitoring and observability
/infrastructure/monitoring/ @document-mgmt/devops @document-mgmt/sre

# Security infrastructure
/infrastructure/security/ @document-mgmt/security-team @document-mgmt/devops

# API documentation
/docs/api/ @document-mgmt/api-team @document-mgmt/documentation

# Architecture documentation
/docs/architecture/ @document-mgmt/lead-architects @document-mgmt/documentation

# Security documentation
/docs/security/ @document-mgmt/security-team @document-mgmt/documentation

# Operations documentation
/docs/operations/ @document-mgmt/devops @document-mgmt/sre @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/dto/folder_dto.go
  src/backend/api/dto/folder_dto.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/dto/response_dto.go
  src/backend/api/dto/response_dto.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/dto/search_dto.go
  src/backend/api/dto/search_dto.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/dto/webhook_dto.go
  src/backend/api/dto/webhook_dto.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/handlers/document_handler.go
  src/backend/api/handlers/document_handler.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/handlers/document_handler_test.go
  src/backend/api/handlers/document_handler_test.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/handlers/folder_handler.go
  src/backend/api/handlers/folder_handler.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/handlers/folder_handler_test.go
  src/backend/api/handlers/folder_handler_test.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/handlers/health_handler.go
  src/backend/api/handlers/health_handler.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/handlers/health_handler_test.go
  src/backend/api/handlers/health_handler_test.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/handlers/search_handler.go
  src/backend/api/handlers/search_handler.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/handlers/search_handler_test.go
  src/backend/api/handlers/search_handler_test.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/handlers/webhook_handler.go
  src/backend/api/handlers/webhook_handler.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/handlers/webhook_handler_test.go
  src/backend/api/handlers/webhook_handler_test.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/middleware/auth.go
  src/backend/api/middleware/auth.go
Owners: @document-mgmt/security-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/middleware/cors.go
  src/backend/api/middleware/cors.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/middleware/logging.go
  src/backend/api/middleware/logging.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/middleware/middleware_test.go
  src/backend/api/middleware/middleware_test.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/middleware/rate_limiter.go
  src/backend/api/middleware/rate_limiter.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/middleware/recovery.go
  src/backend/api/middleware/recovery.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/middleware/tenant.go
  src/backend/api/middleware/tenant.go
Owners: @document-mgmt/security-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/validators/document_validator.go
  src/backend/api/validators/document_validator.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/validators/folder_validator.go
  src/backend/api/validators/folder_validator.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/validators/search_validator.go
  src/backend/api/validators/search_validator.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/api/validators/webhook_validator.go
  src/backend/api/validators/webhook_validator.go
Owners: @document-mgmt/api-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/auth_usecase.go
  src/backend/application/usecases/auth_usecase.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/auth_usecase_test.go
  src/backend/application/usecases/auth_usecase_test.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/document_usecase.go
  src/backend/application/usecases/document_usecase.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/document_usecase_test.go
  src/backend/application/usecases/document_usecase_test.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/folder_usecase.go
  src/backend/application/usecases/folder_usecase.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/folder_usecase_test.go
  src/backend/application/usecases/folder_usecase_test.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/search_usecase.go
  src/backend/application/usecases/search_usecase.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/search_usecase_test.go
  src/backend/application/usecases/search_usecase_test.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/virus_scanning_usecase.go
  src/backend/application/usecases/virus_scanning_usecase.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/virus_scanning_usecase_test.go
  src/backend/application/usecases/virus_scanning_usecase_test.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/webhook_usecase.go
  src/backend/application/usecases/webhook_usecase.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/application/usecases/webhook_usecase_test.go
  src/backend/application/usecases/webhook_usecase_test.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/cmd/api/main.go
  src/backend/cmd/api/main.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/cmd/worker/main.go
  src/backend/cmd/worker/main.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/config/default.yml
  src/backend/config/default.yml
Owners: @document-mgmt/devops
