Repository trimble-mmattera/testing-ai-code-generation-av84sq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @document-mgmt/lead-architects, @document-mgmt/backend-core, @document-mgmt/api-team, @document-mgmt/infrastructure, @document-mgmt/security-team, @document-mgmt/storage-team, @document-mgmt/search-team, @document-mgmt/data-team, @document-mgmt/devops, @document-mgmt/integration-team, @document-mgmt/documentation, @document-mgmt/qa, @document-mgmt/sre

.github/CODEOWNERS:

# Format: file_pattern @user_or_team

# Default owners for everything in the repo
* @document-mgmt/lead-architects

# Core domain logic
/src/backend/domain/ @document-mgmt/backend-core

# Application layer
/src/backend/application/ @document-mgmt/backend-core

# API and delivery layer
/src/backend/api/ @document-mgmt/api-team

# Infrastructure implementations
/src/backend/infrastructure/ @document-mgmt/infrastructure

# Security-related code
/src/backend/infrastructure/auth/ @document-mgmt/security-team
/src/backend/api/middleware/auth.go @document-mgmt/security-team
/src/backend/api/middleware/tenant.go @document-mgmt/security-team

# Storage-related code
/src/backend/infrastructure/storage/ @document-mgmt/storage-team

# Search-related code
/src/backend/infrastructure/search/ @document-mgmt/search-team

# Virus scanning implementation
/src/backend/infrastructure/virus_scanning/ @document-mgmt/security-team

# Database and persistence
/src/backend/infrastructure/persistence/ @document-mgmt/data-team
/src/backend/infrastructure/persistence/postgres/migrations/ @document-mgmt/data-team @document-mgmt/devops

# Messaging and events
/src/backend/infrastructure/messaging/ @document-mgmt/integration-team
/src/backend/infrastructure/cache/ @document-mgmt/infrastructure

# Configuration and utilities
/src/backend/pkg/ @document-mgmt/backend-core
/src/backend/config/ @document-mgmt/devops

# Command-line interfaces
/src/backend/cmd/ @document-mgmt/backend-core

# Deployment and infrastructure
/src/backend/deploy/ @document-mgmt/devops
/infrastructure/ @document-mgmt/devops

# CI/CD workflows
/.github/workflows/ @document-mgmt/devops

# Documentation
/docs/ @document-mgmt/documentation

# Tests
/src/backend/test/ @document-mgmt/qa

# Build and development scripts
/src/backend/scripts/ @document-mgmt/devops

# Docker configuration
/src/backend/Dockerfile @document-mgmt/devops
/src/backend/docker-compose*.yml @document-mgmt/devops

# Dependency management
/src/backend/go.mod @document-mgmt/backend-core @document-mgmt/devops
/src/backend/go.sum @document-mgmt/backend-core @document-mgmt/devops

# Monitoring and observability
/infrastructure/monitoring/ @document-mgmt/devops @document-mgmt/sre

# Security infrastructure
/infrastructure/security/ @document-mgmt/security-team @document-mgmt/devops

# API documentation
/docs/api/ @document-mgmt/api-team @document-mgmt/documentation

# Architecture documentation
/docs/architecture/ @document-mgmt/lead-architects @document-mgmt/documentation

# Security documentation
/docs/security/ @document-mgmt/security-team @document-mgmt/documentation

# Operations documentation
/docs/operations/ @document-mgmt/devops @document-mgmt/sre @document-mgmt/documentation

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/thumbnails/thumbnail_generator_test.go
  src/backend/infrastructure/thumbnails/thumbnail_generator_test.go
Owners: @document-mgmt/infrastructure

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/virus_scanning/clamav/clamav_client.go
  src/backend/infrastructure/virus_scanning/clamav/clamav_client.go
Owners: @document-mgmt/security-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/virus_scanning/clamav/virus_scanner.go
  src/backend/infrastructure/virus_scanning/clamav/virus_scanner.go
Owners: @document-mgmt/security-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/infrastructure/virus_scanning/clamav/virus_scanner_test.go
  src/backend/infrastructure/virus_scanning/clamav/virus_scanner_test.go
Owners: @document-mgmt/security-team

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/config/config.go
  src/backend/pkg/config/config.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/config/config_test.go
  src/backend/pkg/config/config_test.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/errors/errors.go
  src/backend/pkg/errors/errors.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/logger/logger.go
  src/backend/pkg/logger/logger.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/metrics/metrics.go
  src/backend/pkg/metrics/metrics.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/tracing/tracing.go
  src/backend/pkg/tracing/tracing.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/utils/file_utils.go
  src/backend/pkg/utils/file_utils.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/utils/hash_utils.go
  src/backend/pkg/utils/hash_utils.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/utils/pagination.go
  src/backend/pkg/utils/pagination.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/utils/time_utils.go
  src/backend/pkg/utils/time_utils.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/pkg/validator/validator.go
  src/backend/pkg/validator/validator.go
Owners: @document-mgmt/backend-core

Add public-samples/testing-ai-code-generation-av84sq/src/backend/scripts/docker-build.sh
  src/backend/scripts/docker-build.sh
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/scripts/docker-push.sh
  src/backend/scripts/docker-push.sh
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/scripts/generate-mock.sh
  src/backend/scripts/generate-mock.sh
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/scripts/migration.sh
  src/backend/scripts/migration.sh
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/scripts/run-tests.sh
  src/backend/scripts/run-tests.sh
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/scripts/setup-dev.sh
  src/backend/scripts/setup-dev.sh
Owners: @document-mgmt/devops

Add public-samples/testing-ai-code-generation-av84sq/src/backend/test/e2e/document_flow_test.go
  src/backend/test/e2e/document_flow_test.go
Owners: @document-mgmt/qa

Add public-samples/testing-ai-code-generation-av84sq/src/backend/test/e2e/folder_flow_test.go
  src/backend/test/e2e/folder_flow_test.go
Owners: @document-mgmt/qa

Add public-samples/testing-ai-code-generation-av84sq/src/backend/test/e2e/search_flow_test.go
  src/backend/test/e2e/search_flow_test.go
Owners: @document-mgmt/qa

Add public-samples/testing-ai-code-generation-av84sq/src/backend/test/integration/auth_test.go
  src/backend/test/integration/auth_test.go
Owners: @document-mgmt/qa

Add public-samples/testing-ai-code-generation-av84sq/src/backend/test/integration/document_test.go
  src/backend/test/integration/document_test.go
Owners: @document-mgmt/qa

Add public-samples/testing-ai-code-generation-av84sq/src/backend/test/integration/folder_test.go
  src/backend/test/integration/folder_test.go
Owners: @document-mgmt/qa

Add public-samples/testing-ai-code-generation-av84sq/src/backend/test/integration/search_test.go
  src/backend/test/integration/search_test.go
Owners: @document-mgmt/qa

Add public-samples/testing-ai-code-generation-av84sq/src/backend/test/mockery/gen.go
  src/backend/test/mockery/gen.go
Owners: @document-mgmt/qa
